body {
    background: #272727;
    font-family: "Montserrat", sans-serif;
    color: rgb(253, 243, 228);

  }

  .navMenu a:nth-child(3){
    color: #fddb3a;

}
img{
  width: 100%;
}

article{
  font-size: 20px;
  max-width: 700px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14%;
  line-height: 1.5em;
}

figcaption{
  text-align: center;
  color: rgba(253, 243, 228, 0.842);
  font-size: 0.8em;
  line-height: 1em;
}
p{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
blockquote{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 1em;
  font-style: italic;
}
h6{
  font-size: 1em;
}
#like{
  cursor: pointer;
  margin-left: 4%;
  margin-right: 0;
  width: 30px;
  height: 30px;
  
  padding: 0;
  border: 0;
  background-color: #272727;;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 50%;
  align-content: center;
  border-color: #272727;
  box-shadow: #fddb3a;
  opacity: 0.7;
  transform: translateY(10px);

}
#like:hover{
  opacity:1 !important;
  
}

#like img {
  width: 30px;
}
#specialdesign{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  font-style: italic;
  color: rgb(89, 83, 76);
  background-color: #ead1ab;
  text-align: center;
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
}
#thanks{
  display: none;
  transform: translateX(30px);
  
}
@media screen and (max-width: 800px) {
  article{
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.1em;

  }
}