@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap');

*{
  margin: 0;
  padding: 0;
}
body {
    background: #272727;
    color: #f6f4e6;
    scroll-behavior: smooth;
}
  .navMenu a:nth-child(5){
    color: #fddb3a;

}

.container{
  
  font-size: 35px;

  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}


h3{
  line-height: 1.8em;
  color: #fddc3ac1;

  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
h3:hover{
  font-size: 1.65em;
}
h4,h5{
  font-family: "Montserrat", sans-serif;
  font-weight: 100;

line-height: 1.4em;
}

@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}
h5{
  color: rgb(247, 218, 184);
}

