@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');



* {
    box-sizing: border-box;
  }

  .row{
    margin-left: 10%;
    margin-right:10%;
  }
  
  .column {
    align-items: center;
    float: left;
    width: 50%;
    padding: 5px;

  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

h1{
    margin-left: 2.3em;

    margin-top: 5em;
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
h1:hover{
    font-size: 2em;
}


.navMenu a:nth-child(2){
    color: #fddb3a;

}
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
    h1{
        margin-left: 3%;
        font-size: 1em;
    }
    h1:hover{
        font-size: 1.2em;
    }
  }



