@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body{
    padding: 0;
    margin: 0;
}

.images{
    margin: 0;
    display:flexbox;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.images::after {
    content: "";
    clear: both;
    display: table;
  }

  a{
    display: block;
}

.image:nth-child(1){
    height: 207px;
    margin-bottom: 30px;
}


.image{   
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    float: left;
    width: 45%;
    padding: 10px;
    opacity: 0.3;

    
}


h1{
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
h1:hover{
    font-size: 2em;
}

.image:hover{
    width: 46%;   
    opacity: 1;
    
}

.navMenu a:nth-child(2){
    color: #fddb3a;

}




